<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="/css/about.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <section id="about_container">
      <div class="about">
        <h1>Durga'<strong>skincare</strong></h1>
        <p>
          "Our mission in skincare is to provide high-quality,<br />
          effective products that enhance natural beauty while prioritizing
          skin<br />
          health. We are committed to using safe, ethically sourced ingredients
          that<br />
          deliver real results. Empowering our customers with knowledge and
          confidence,<br />
          we strive to make skincare an enjoyable and personalized<br />
          experience for everyone."
        </p>
        <div class="about_btn">
          <a href="/index" class="about_home">Home</a>
          <a href="/partials/Product  " class="about_shopping">Shopping</a>
        </div>
        <img
          src=" 
          /image/about_2.png"
          alt="about images"
          class="about_image"
        />
      </div>
    </section>
    <div class="features">
      <div class="feature">
        <p>SkinCeuticals</p>
        <p>Olay</p>
        <p>CeraVe</p>
        <p>The Ordinary</p>
        <p>Neutrogena</p>
        <p>TATCHA</p>
      </div>
    </div>
    <section id="about_band_owner">
      <div class="owner_1">
        <div class="person_details">
          <h3 class="user_name">Durga Prasad Naik</h3>
          <p class="user_position">CEO</p>
          <p class="user_para">
            "Becoming a company that stands out from the rest of the competition
            in the beauty industry is not easy. However, it is also a great
            opportunity to become a highly respected and sought-out brand in
            this ever-growing market. With the right digital marketing tools and
            SEO strategies here at your disposal, you can utilize all of our
            creative ideas, know-how, and expertise to excel before your
            competitors."
          </p>
          <a href="#" class="about_me">About More</a>
        </div>
        <div class="person_image">
          <img
            src="/image/woman-6468147_1280.jpg"
            alt="person details"
            class="user_image"
          />
        </div>
      </div>
      <div class="owner_2">
        <div class="person_details">
          <h3 class="user_name">Durga Prasad Naik</h3>
          <p class="user_position">CEO</p>
          <p class="user_para">
            "Becoming a company that stands out from the rest of the competition
            in the beauty industry is not easy. However, it is also a great
            opportunity to become a highly respected and sought-out brand in
            this ever-growing market. With the right digital marketing tools and
            SEO strategies here at your disposal, you can utilize all of our
            creative ideas, know-how, and expertise to excel before your
            competitors."
          </p>
          <a href="#" class="about_me">About More</a>
        </div>
        <div class="person_image">
          <img
            src="/image/woman-6468147_1280.jpg"
            alt="person details"
            class="user_image"
          />
        </div>
      </div>
      <div class="owner_1">
        <div class="person_details">
          <h3 class="user_name">Durga Prasad Naik</h3>
          <p class="user_position">CEO</p>
          <p class="user_para">
            "Becoming a company that stands out from the rest of the competition
            in the beauty industry is not easy. However, it is also a great
            opportunity to become a highly respected and sought-out brand in
            this ever-growing market. With the right digital marketing tools and
            SEO strategies here at your disposal, you can utilize all of our
            creative ideas, know-how, and expertise to excel before your
            competitors."
          </p>
          <a href="#" class="about_me">About More</a>
        </div>
        <div class="person_image">
          <img
            src="/image/woman-6468147_1280.jpg"
            alt="person details"
            class="user_image"
          />
        </div>
      </div>
      <div class="owner_2">
        <div class="person_details">
          <h3 class="user_name">Durga Prasad Naik</h3>
          <p class="user_position">CEO</p>
          <p class="user_para">
            "Becoming a company that stands out from the rest of the competition
            in the beauty industry is not easy. However, it is also a great
            opportunity to become a highly respected and sought-out brand in
            this ever-growing market. With the right digital marketing tools and
            SEO strategies here at your disposal, you can utilize all of our
            creative ideas, know-how, and expertise to excel before your
            competitors."
          </p>
          <a href="#" class="about_me">About More</a>
        </div>
        <div class="person_image">
          <img
            src="/image/woman-6468147_1280.jpg"
            alt="person details"
            class="user_image"
          />
        </div>
      </div>
    </section>
    <div class="last_image">
      <div class="last_para">
        <h1>Skin Care</h1>
        <p>
          "The beauty industry and the cosmetic market have grown exponentially
          over the past couple of years. The global skin care industry is
          estimated to grow even stronger in the next couple of years. With so
          much competition out there, beauty businesses and brands struggle to
          find their voice and the best channels and platforms to reach their
          audiences. Nevertheless, this provides extraordinary opportunities for
          skin care companies and professionals to excel and boost their digital
          presence."
        </p>
      </div>

      <img
        src="/image/woman-6468147_1280.jpg"
        alt="user images"
        class="last_images"
      />
    </div>
  </body>
</html>
