<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playwrite+NZ:wght@100..400&display=swap"
      rel="stylesheet"
    />
    <link href="/css/contact.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body id="contact">
    <h1 class="contact_heading">Contact our team</h1>
    <p class="contact_para">
      " Got any question about the product or scaling on our platform?We're here
      to help<br />
      Chat to our friendly team 24/7 and get onboard in less than 5 minutes."
    </p>
    <div class="contact_section">
      <form>
        <div class="name_section">
          <div>
            <label>First name</label>
            <input type="text" placeholder="Enter Your First Name:" />
          </div>
          <div>
            <label>Last name</label>
            <input type="text" placeholder="Enter Your LastName:" />
          </div>
        </div>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="you@company.com"
        />
        <label for="phone">Phone number</label>
        <input
          type="number"
          id="phone"
          name="phone"
          placeholder="+91 1236547891"
        />
        <label for="message">Message</label>
        <input
          type="text"
          id="message"
          name="message"
          placeholder="Leave us a message...."
        />
        <button type="submit" class="submit_btn">Submit</button>
      </form>
      <div class="chat_section">
        <h2 class="chat_heading">Chat with us</h2>
        <p class="chat_sub_heading">
          Speak with our friendly team via live chat.
        </p>
        <div class="chat_links">
          <a href="#"
            ><ion-icon name="chatbubbles-outline"></ion-icon> Start a live
            chat</a
          >
          <a href="#"
            ><ion-icon name="navigate-outline"></ion-icon> Shoot us an email</a
          >
          <a href="#"
            ><ion-icon name="logo-twitter"></ion-icon> Message us on X</a
          >
        </div>
        <h3 class="chat_call">Call us</h3>
        <p class="chat_call_para">
          Call our team Mon-Fri from 11:00 AM to 5:30PM.
        </p>
        <a href="#" class="chat_call_num"
          ><ion-icon name="call-outline"></ion-icon> +91 1236547891</a
        >
        <h3 class="visit">Visit us</h3>
        <p class="visit_para">Chat to us in person at our Durga'skincare HQ.</p>
        <a class="visit_address" href="#"
          ><ion-icon name="location-outline"></ion-icon> Hyderabad, Telangana,
          500038</a
        >
      </div>
    </div>
  </body>
</html>
