<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/Footer.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <section class="all_details">
      <div class="skincare_address">
        <h1>Durga'<strong>skincare</strong></h1>
        <p class="small_para_skincare">
          &nbsp;&nbsp;&nbsp;"Glow from within with our skincare—your best skin
          awaits!"
        </p>
        <p class="big_para_skincare">
          "Our mission in skincare is to provide high-quality, effective
          products that enhance natural beauty while prioritizing skin health.
          We are committed to using safe, ethically sourced ingredients that
          deliver real results. Empowering our customers with knowledge and
          confidence, we strive to make skincare an enjoyable and personalized
          experience for everyone."
        </p>
      </div>
      <div class="all_cat_links sp_links">
        <h2>Quick Links</h2>
        <div class="cat_links">
          <a href="#">Categories</a>
          <a href="#">Skin Care</a>
          <a href="#">Shop All</a>
          <a href="#">Trending</a>
          <a href="#">Blogs</a>
        </div>
      </div>
      <div class="all_cat_links">
        <h2>Company</h2>
        <div class="cat_links">
          <a href="#">Home</a>
          <a href="#">Shop</a>
          <a href="#">About us</a>
          <a href="#">Blogs</a>
          <a href="#">My Account</a>
        </div>
      </div>
      <div class="payment_methods">
        <h2>Payment Methods</h2>
        <div class="payment_meth">
          <a href="#">PayPal</a>
          <a href="#">Visa</a>
          <a href="#">Master Card</a>
          <a href="#">American Express</a>
          <a href="#">Online Methods</a>
        </div>
      </div>
    </section>
    <div>
      <h1 class="background_heading">Durga's SkinCare</h1>
    </div>
    <footer>
      <hr />
      <div class="footer">
        <div class="copy_right_icons">
          <p>Follow Us</p>
          <ion-icon class="copy_icon" name="logo-instagram"></ion-icon>
          <ion-icon class="copy_icon" name="logo-google"></ion-icon>
          <ion-icon class="copy_icon" name="logo-twitter"></ion-icon>
          <ion-icon class="copy_icon" name="logo-youtube"></ion-icon>
          <ion-icon class="copy_icon" name="logo-whatsapp"></ion-icon>
        </div>
        <div class="copy_right_para">
          <p>
            2024, Dico Master Theme - Durga's SkinCare
            <span>"Kethavath Durga Prasad Naik"</span>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
