<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/HowToUse.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <section id="uses">
      <div class="uses_image">
        <img
          src="/image/Side_image_1.jpg"
          alt="main image"
          class="user_main_img"
        />
      </div>
      <div class="uses_details">
        <h1>How to use it?</h1>
        <h4>01. It's gentle, and eye-safe</h4>
        <p>"Meticulously removes dirt"</p>
        <hr />
        <h4>02. Understand Your Skin Type</h4>
        <p>
          "Identify whether your skin is oily, dry, combination, or sensitive.
          Choose products specifically formulated for your skin type to avoid
          irritation."
        </p>
        <hr />

        <h4>03. Start with a Patch Test</h4>
        <p>
          " Before using a new product on your face, apply a small amount to a
          discreet area, like behind your ear, and wait 24-48 hours to check for
          any adverse reactions."
        </p>
        <hr />
        <h4>04. Follow a Simple Routine</h4>
        <p>
          " Use a gentle cleanser, moisturizer, and sunscreen daily. Introduce
          additional products like serums or exfoliants gradually, one at a
          time, to monitor how your skin reacts."
        </p>
        <hr />
        <h4>05. Use Products as Directed</h4>
        <p>
          "Follow the instructions on the label regarding application frequency
          and amount. Overusing or mixing certain products (e.g., retinol with
          acids) can cause skin damage."
        </p>
        <hr />
        <h4>06. Monitor for Changes</h4>
        <p>
          "If you notice any redness, irritation, or breakouts after starting a
          new product, stop using it immediately and consult a dermatologist if
          necessary."
        </p>
      </div>
    </section>
    <section id="full_image">
      <div class="icons_image">
        <ion-icon class="icon_img" name="arrow-back-outline"></ion-icon>
        <ion-icon class="icon_img" name="arrow-forward-outline"></ion-icon>
      </div>
      <div class="line"></div>
    </section>
  </body>
</html>
