<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/Navbar.css" rel="stylesheet" />
    <link href="/views/partials/Contact.ejs" rel="html files" />
    <title>Document</title>
  </head>

  <body>
    <section id="spic_messages">
      <div class="spic_messages_icons">
        <p>FollowUs</p>
        <ion-icon class="message_icon" name="logo-instagram"></ion-icon>
        <ion-icon class="message_icon" name="logo-google"></ion-icon>
        <ion-icon class="message_icon" name="logo-twitter"></ion-icon>
        <ion-icon class="message_icon" name="logo-youtube"></ion-icon>
        <ion-icon class="message_icon" name="logo-whatsapp"></ion-icon>
      </div>
      <marquee class="top_run_message"
        >Save 15% on orders over $50 💝 Use code KDPN150OFF at Checkout</marquee
      >
      <p class="phone_number">
        <ion-icon name="call-outline"></ion-icon>+1(470)47938688
      </p>
    </section>
    <header id="navbar">
      <div class="navbar">
        <h1 class="heading">Durga'<strong>skincare</strong></h1>
        <nav>
          <a href="/index">Home</a>
          <a href="/partials/Product">Product</a>
          <a href="/partials/Products">SkinCare</a>
          <a href="/partials/About">About us</a>
          <a href="/partials/Contact">Contact us</a>
        </nav>
        <div class="navbar_icons">
          <a href="/partials/WishList">
            <ion-icon
              class="navbar_all WishList_i"
              name="heart-outline"
            ></ion-icon>
          </a>
          <a href="/partials/AddToCart">
            <ion-icon
              class="navbar_all addtocart_i"
              name="bag-handle-outline"
            ></ion-icon>
          </a>
        </div>
      </div>
      <div class="nav_cen_heading">
        <h1>
          Skincare for<br />
          Everyone
        </h1>
        <p>
          " A mind blend of fresh mint, warming herbs, smooth<br />honey, and
          sparking citrus"
        </p>
        <a href="/partials/Product" class="nav_btn">Shop Now</a>
      </div>
      <div>
        <img class="wall_1" src="/image/wall_1.png" alt="wall image" />
      </div>
      <div>
        <img class="wall_2" src="/image/wall_2.png" alt="wall image" />
      </div>
    </header>

    <section id="typeOfskincare">
      <h1>Reinvent you skin today</h1>
      <div class="all_skincare_type">
        <div class="skincare_type">
          <img
            src="/image/skincare.jpg"
            class="product_image"
            alt="skincare name"
          />

          <a href="/partials/Product">Skin Care</a>
        </div>
        <div class="skincare_type">
          <img
            src="/image/body_wash.jpg"
            class="product_image"
            alt="skincare name"
          />
          <a href="/partials/Product">Body Wash</a>
        </div>
        <div class="skincare_type">
          <img src="/image/lip.jpg" class="product_image" alt="skincare name" />

          <a href="/partials/Product">Makeup</a>
        </div>
        <div class="skincare_type">
          <img
            src="/image/fregrance.png"
            class="product_image"
            alt="skincare name"
          />
          <a href="/partials/Product">Fragrance</a>
        </div>
        <div class="skincare_type">
          <img
            src="/image/serum.jpg"
            class="product_image"
            alt="skincare name"
          />
          <a href="/partials/Product">Serum</a>
        </div>
        <div class="skincare_type">
          <img
            src="/image/balms.jpg"
            class="product_image"
            alt="skincare name"
          />
          <a href="/partials/Product">Balms</a>
        </div>
      </div>
    </section>
  </body>
</html>
