<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/products.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <section id="popular">
      <div class="popular_heading">
        <h1>Most Popular</h1>
        <a href="/partials/Product">View All Item</a>
      </div>
      <div class="product_items">
        <div class="product_details">
          <div class="images_p_color">
            <div class="new_sale">
              <p class="new">New</p>
              <p class="sale">Sale</p>
            </div>
            <img
              src="/image/p_1.png"
              alt="product images"
              class="product_images"
            />
          </div>
          <p class="product_name">Sunscreen Cream Lotion Gel Cleanser 50gm</p>
          <h3 class="product_price">From 280.00$</h3>
          <div class="add_wish">
            <p class="addToBag">
              <ion-icon name="bag-add-outline"></ion-icon> AddToBag
            </p>
            <p class="wishlist">
              <ion-icon name="heart-outline"></ion-icon> WishList
            </p>
          </div>
        </div>
        <div class="product_details">
          <div class="images_p_color">
            <div class="new_sale">
              <p class="new">New</p>
            </div>
            <img
              src="/image/pngegg (4).png"
              alt="product images"
              class="product_images"
            />
          </div>
          <p class="product_name">Laneige Toner Cosmetics Sunscreen Skin</p>
          <h3 class="product_price">From 129.00$</h3>
          <div class="add_wish">
            <p class="addToBag">
              <ion-icon name="bag-add-outline"></ion-icon> AddToBag
            </p>
            <p class="wishlist">
              <ion-icon name="heart-outline"></ion-icon> WishList
            </p>
          </div>
        </div>
        <div class="product_details">
          <div class="images_p_color">
            <div class="new_sale">
              <p class="new">New</p>
              <p class="sale">Sale</p>
            </div>
            <img
              src="/image/pngegg (5).png"
              alt="product images"
              class="product_images"
            />
          </div>
          <p class="product_name">
            black lipsticks, Lipstick Cosmetics Lip gloss
          </p>
          <h3 class="product_price">From 200.00$</h3>
          <div class="add_wish">
            <p class="addToBag">
              <ion-icon name="bag-add-outline"></ion-icon> AddToBag
            </p>
            <p class="wishlist">
              <ion-icon name="heart-outline"></ion-icon> WishList
            </p>
          </div>
        </div>
        <div class="product_details">
          <div class="images_p_color">
            <div class="new_sale">
              <p class="new">New</p>
              <p class="sale">Sale</p>
            </div>
            <img
              src="/image/pngegg (7).png"
              alt="product images"
              class="product_images"
            />
          </div>
          <p class="product_name">Grapefruit Ingredient Oil Bottle Orange</p>
          <h3 class="product_price">From 219.00$</h3>
          <div class="add_wish">
            <p class="addToBag">
              <ion-icon name="bag-add-outline"></ion-icon> AddToBag
            </p>
            <p class="wishlist">
              <ion-icon name="heart-outline"></ion-icon> WishList
            </p>
          </div>
        </div>
        <div class="product_details">
          <div class="images_p_color">
            <div class="new_sale">
              <p class="new">New</p>
            </div>
            <img
              src="/image/pngegg (6).png"
              alt="product images"
              class="product_images"
            />
          </div>
          <p class="product_name">
            Faberlic Cosmetics Lipstick Foundation Face
          </p>
          <h3 class="product_price">From 222.00$</h3>

          <div class="add_wish">
            <p class="addToBag">
              <ion-icon name="bag-add-outline"></ion-icon> AddToBag
            </p>
            <p class="wishlist">
              <ion-icon name="heart-outline"></ion-icon> WishList
            </p>
          </div>
        </div>
        <div class="product_details">
          <div class="images_p_color">
            <div class="new_sale">
              <p class="new">New</p>
            </div>
            <img
              src="/image/pngegg (14).png"
              alt="product images"
              class="product_images"
            />
          </div>
          <p class="product_name">
            Perfume Angel Eau de Cologne, Perfume, cosmetics
          </p>
          <h3 class="product_price">From 180.00$</h3>
          <div class="add_wish">
            <p class="addToBag">
              <ion-icon name="bag-add-outline"></ion-icon> AddToBag
            </p>
            <p class="wishlist">
              <ion-icon name="heart-outline"></ion-icon> WishList
            </p>
          </div>
        </div>
        <div class="product_details">
          <div class="images_p_color">
            <div class="new_sale">
              <p class="new">New</p>
            </div>
            <img
              src="/image/pngegg (9).png"
              alt="product images"
              class="product_images"
            />
          </div>
          <p class="product_name">
            LCG Pure Active Intensive Charcoal Anti-Blackheads 3
          </p>
          <h3 class="product_price">From 380.00$</h3>
          <div class="add_wish">
            <p class="addToBag">
              <ion-icon name="bag-add-outline"></ion-icon> AddToBag
            </p>
            <p class="wishlist">
              <ion-icon name="heart-outline"></ion-icon> WishList
            </p>
          </div>
        </div>
        <div class="product_details">
          <div class="images_p_color">
            <div class="new_sale">
              <p class="new">New</p>
            </div>
            <img
              src="/image/pngegg (10).png"
              alt="product images"
              class="product_images"
            />
          </div>
          <p class="product_name">Lotion NIVEA Soft Moisturizing Cream</p>
          <h3 class="product_price">From 199.89$</h3>
          <div class="add_wish">
            <p class="addToBag">
              <ion-icon name="bag-add-outline"></ion-icon> AddToBag
            </p>
            <p class="wishlist">
              <ion-icon name="heart-outline"></ion-icon> WishList
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
