<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/product.css" rel="stylesheet" />
    <title>Document</title>
  </head>

  <body>
    <div class="nav-bar">
      <a href="/index">Home</a>
      <a href="/partials/AddToCart">Cart Store</a>
      <a href="/partials/WishList">Wishlist</a>
    </div>
    <div id="products">
      <!-- addTo products are added here -->
    </div>
    <script src="/src/AddToCart.js"></script>
    <script src="/src/StoreCart.js"></script>
    <script src="/src/WishList.js"></script>
  </body>
</html>
