<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/Testimonials.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <section id="single_product">
      <h1>Essentials</h1>
      <div class="product_1">
        <img
          class="product_1_image"
          src="/image/testm_1.png"
          alt="product png"
        />
        <div class="single_product_details">
          <div>
            <p>07. Facial Cleanser</p>
            <h4>139.00$</h4>
          </div>
          <a href="/partials/Product">
            <ion-icon class="top_arrow" name="arrow-redo-outline"></ion-icon
          ></a>
        </div>
      </div>
      <div class="product_2">
        <img
          class="product_2_image"
          src="/image/testm_2.jpg"
          alt="user image"
        />
      </div>
    </section>

    <!-- ////////////////////////////////////////////////////////////// -->

    <section id="testimonials">
      <h1>Shining Testimonials</h1>
      <marquee>
        <div class="clients_text">
          <div class="client_testimonials">
            <div class="text_details">
              <div class="rating_icons">
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <p>5</p>
              </div>
              <p class="client_para">
                Lorem ipsum dolor sit amet, consectetur<br />
                adipisicing elit. Libero numquam iure<br />
                recusandae facilis totam blanditiis,
              </p>
              <h4 class="client_name">"Durga Prasad Naik"</h4>
            </div>
            <div>
              <img
                src="/image/woman-6468147_1280.jpg"
                alt="client image"
                class="client_image"
              />
            </div>
          </div>
          <div class="client_testimonials">
            <div class="text_details">
              <div class="rating_icons">
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <p>5</p>
              </div>
              <p class="client_para">
                Lorem ipsum dolor sit amet, consectetur<br />
                adipisicing elit. Libero numquam iure<br />
                recusandae facilis totam blanditiis,
              </p>
              <h4 class="client_name">"Durga Prasad Naik"</h4>
            </div>
            <div>
              <img
                src="/image/woman-6468147_1280.jpg"
                alt="client image"
                class="client_image"
              />
            </div>
          </div>
          <div class="client_testimonials">
            <div class="text_details">
              <div class="rating_icons">
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <p>5</p>
              </div>
              <p class="client_para">
                Lorem ipsum dolor sit amet, consectetur<br />
                adipisicing elit. Libero numquam iure<br />
                recusandae facilis totam blanditiis,
              </p>
              <h4 class="client_name">"Durga Prasad Naik"</h4>
            </div>
            <div>
              <img
                src="/image/woman-6468147_1280.jpg"
                alt="client image"
                class="client_image"
              />
            </div>
          </div>
          <div class="client_testimonials">
            <div class="text_details">
              <div class="rating_icons">
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <ion-icon class="icons_rat" name="star-outline"></ion-icon>
                <p>5</p>
              </div>
              <p class="client_para">
                Lorem ipsum dolor sit amet, consectetur<br />
                adipisicing elit. Libero numquam iure<br />
                recusandae facilis totam blanditiis,
              </p>
              <h4 class="client_name">"Durga Prasad Naik"</h4>
            </div>
            <div>
              <img
                src="/image/woman-6468147_1280.jpg"
                alt="client image"
                class="client_image"
              />
            </div>
          </div>
        </div>
      </marquee>
    </section>
  </body>
</html>
